@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
 0 - 600px: Phone 
 600 - 900px: Tablet Portrait
 900 - 1200px: Tablet landscape
 
 1200 - 1800px: normal styles

 1800px +: Big desktop
*/

/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px (default font size for browser)

ORDER OF ADDING RESPONSIVENESS:
  base, typography, general layout, grid, page layout, components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    /* 
     because media query units aren't affected by root declarations
     and, moreover, 'rem's behave slightly differently in different browsers,
     it's generally recommended (after many people who know this stuff in depth did some extensive testing) 
     to use 'em's for media queries
    */
    @media only screen and (max-width: 37.5em) {@content}; // @content is a content directive; allows you to use the mixin as a selector and put the styles you want as a declaration block
  } // 600px = 37.5em
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {@content};
  } // 900px = 56.25em
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {@content};
  } // 1200px = 75em
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {@content};
  } // 1800px = 112.5em
}